<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FCC DO BRASIL</title>
    <link rel="stylesheet" href="{% static 'css/coorporativo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Coorporativo</title>
</head>
<body>

<br><br>

<div align="center">
 <h3>LINHAS COORPORATIVAS GESTORES</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">CARGO</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO FINANCEIRO -->

  <tbody class="table-group-divider">

    <tr>
      <th scope="row">2010</th>
      <td>GESTOR</td>
      <td>99996-9200</td>
      <td>KAMIKURA</td>
    </tr>

    <tr>
      <th scope="row">2010</th>
      <td>GESTOR</td>
      <td>99160-5071</td>
      <td>MAKIMURA</td>
    </tr>

    <tr>
      <th scope="row">2010</th>
      <td>GESTOR</td>
      <td>98401-6723</td>
        <td>GOVERNANÇA KAMIKURA</td>
    </tr>

     <tr>
      <th scope="row">2010</th>
      <td>GESTOR</td>
      <td>98414-4759</td>
        <td>NOBUHIKO</td>
    </tr>

     <tr>
      <th scope="row">2010</th>
      <td>GESTOR</td>
      <td>98427-9590</td>
        <td>JONATHAN</td>
    </tr>

  </tbody>
</table>



<!-- -->



<br><br>
<div align="center">
 <h3>LINHAS COORPORATIVAS CHEFE</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">CARGO</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">2040</th>
      <td>CHEFE</td>
      <td>99902-1614</td>
      <td>CLAYSON ALVES</td>
    </tr>

    <tr>
      <th scope="row">3010</th>
      <td>CHEFE</td>
      <td>99996-1780</td>
      <td>LISANGELA VALENTE</td>
    </tr>

    <tr>
      <th scope="row">4030</th>
      <td>CHEFE</td>
      <td>99324-0013</td>
        <td>MARCOS AGUIAR</td>
    </tr>

     <tr>
      <th scope="row">4020</th>
      <td>CHEFE</td>
      <td>98433-0554</td>
        <td>LUIZ ALBERTO</td>
    </tr>

  </tbody>
</table>




<br><br>
<div align="center">
 <h3>LINHAS COORPORATIVAS SUPERVISORES</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">CARGO</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4020</th>
      <td>SUPERVISOR</td>
      <td>98410-1866</td>
      <td>ABIMAEL MUNIZ</td>
    </tr>

    <tr>
      <th scope="row">4020</th>
      <td>SUPERVISOR</td>
      <td>98419-4560</td>
      <td>EDNELSON BARBOSA</td>
    </tr>

    <tr>
      <th scope="row">4020</th>
      <td>SUPERVISOR</td>
      <td>98420-0968</td>
        <td>EDVAN LOPES</td>
    </tr>

     <tr>
      <th scope="row">4040</th>
      <td>SUPERVISOR</td>
      <td>98431-2490</td>
        <td>FRANCISCO SALES</td>
    </tr>

    <tr>
      <th scope="row">2090</th>
      <td>SUPERVISOR</td>
      <td>98410-0543</td>
        <td>YURI CUSTODIO</td>
    </tr>


     <tr>
      <th scope="row">4021</th>
      <td>SUPERVISOR</td>
      <td>98402-7580</td>
        <td>RODRIGO NASCIMENTO</td>
    </tr>

   <tr>
      <th scope="row">3061</th>
      <td>SUPERVISOR</td>
      <td>98414-4590</td>
        <td>FRANCIMARA OLIVEIRA</td>
    </tr>

   <tr>
      <th scope="row">3070</th>
      <td>SUPERVISOR</td>
      <td>98431-2632</td>
        <td>CLAUDERMIR</td>
    </tr>

    <tr>
      <th scope="row">3080</th>
      <td>SUPERVISOR</td>
      <td>99902-3451</td>
        <td>ABMAEL ZACARIAS</td>
    </tr>

  </tbody>
</table>






<br><br>
<div align="center">
 <h3>LINHAS COORPORATIVAS ENCARREGADOS</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">CARGO</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4082</th>
      <td>ENCARREGADO</td>
      <td>98408-5864</td>
      <td>ELIAS MELO</td>
    </tr>

    <tr>
      <th scope="row">2040</th>
      <td>ENCARREGADA</td>
      <td>99983-0453</td>
      <td>KATIA YADA</td>
    </tr>

    <tr>
      <th scope="row">2090</th>
      <td>ENCARREGADA</td>
      <td>99903-6333</td>
        <td>ADRIANA DIAS</td>
    </tr>

     <tr>
      <th scope="row">4030</th>
      <td>ENCARREGADO</td>
      <td>99492-2304</td>
        <td>JHONYS PASSOS</td>
    </tr>

  </tbody>
</table>





<br><br>
<div align="center">
 <h3>LINHAS COORPORATIVAS LIDERES</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">CARGO</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4040</th>
      <td>LIDERES FUNDIÇÃO</td>
      <td>98431-7747</td>
      <td>ALEXANDRO - VITOR - GLAYSON - LEANDRO</td>
    </tr>

    <tr>
      <th scope="row">4060</th>
      <td>LIDERES USINAGEM</td>
      <td>98410-2985</td>
      <td>WEBSTERLAN - FRANCISCO - JONH </td>
    </tr>

    <tr>
      <th scope="row">3080</th>
      <td>LIDERES MANUTENÇÃO INDUSTRIAL</td>
      <td>98431-2550</td>
        <td>VIDAL - EDMAR - JAYSON</td>
    </tr>

     <tr>
      <th scope="row">3070</th>
      <td>LIDERES ALMOXARIFADO</td>
      <td>98410-1857</td>
        <td>FRANCISCO BENÍCIO - FRANCISCO</td>
    </tr>


     <tr>
      <th scope="row">4020</th>
      <td>LIDERES EMBALAGEM/td>
      <td>99304-6431</td>
        <td>MARIA - WILSON - CRISTIANE - RICARDO</td>
    </tr>

     <tr>
      <th scope="row">4030</th>
      <td>LIDER CQ</td>
      <td>98401-9598</td>
        <td>JESSICA LEÃO</td>
    </tr>

  </tbody>
</table>







<br><br>
<div align="center">
 <h3>LINHAS COORPORATIVAS OUTROS</h3>
    <br><br>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">LINHA</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">2060</th>
      <td>98411-8859</td>
     <td>EQUIPE T.I</td>
    </tr>

    <tr>
      <th scope="row">3010</th>
      <td>98401-7666</td>
      <td>RH - RECRUTAMENTO</td>
    </tr>

    <tr>
      <th scope="row">3011</th>
      <td>99981-1533</td>
        <td>EQUIPE SEG. DO TRABALHO</td>
    </tr>

     <tr>
      <th scope="row">2090</th>
      <td>98401-9251</td>
        <td>EQUIPE COMERCIAL</td>

         <tr>
      <th scope="row">3020</th>
      <td>99155-7031</td>
        <td>ALCYEDNA - AMBULATÓRIO</td>
    </tr>

       <tr>
      <th scope="row">3090</th>
      <td>99347-4644</td>
        <td>EQUIPE - NOVOS NEGÓCIOS</td>
    </tr>



  </tbody>
</table>







<div class="d-grid gap-2 col-6 mx-auto">
     <br>
        <br>
     <div align="center">
     <a href="{% url 'voltar' %}">
  <button  class="btn btn-primary" type="button">VOLTAR</button>
         </a>
     </div>
</div>

 <br>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
