<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FCC DO BRASIL</title>
    <link rel="stylesheet" href="{% static 'css/ramal.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Ramal</title>
</head>
<body>
 <br><br>
<div align="center">
 <h3>RAMAL FINANCEIRO</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO FINANCEIRO -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>209</td>
      <td>NOBUHIKO</td>
    </tr>

    <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>210</td>
      <td>CLAYSON ALVES</td>
    </tr>

    <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>227</td>
        <td>BARBARA MORITA</td>
    </tr>

     <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>233</td>
        <td>KATIA YADA</td>
    </tr>

     <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>214</td>
        <td>THAYANA RODRIGUES</td>
    </tr>

     <tr>
      <th scope="row">2040</th>
      <td>FINANCEIRO</td>
      <td>236</td>
        <td>LORENA</td>
    </tr>
  </tbody>
</table>


<div align="center">
 <h3>RAMAL T.I</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO T.I -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">2060</th>
      <td>T.I</td>
      <td>255</td>
      <td>FRANCISO PAIVA</td>
    </tr>

    <tr>
      <th scope="row">2060</th>
      <td>T.I</td>
      <td>221</td>
      <td>SAMUEL - MARCOS</td>
    </tr>

  <tr>
      <th scope="row">2060</th>
      <td>T.I</td>
      <td>213</td>
      <td>EQUIPE T.I</td>
    </tr>

  </tbody>
</table>

<div align="center">
 <h3>RAMAL COMERCIAL</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO COMERCIAL -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>242</td>
      <td>YURI DUARTE - LUCIANA</td>
    </tr>

    <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>220</td>
      <td>ADRIANA DIAS</td>
    </tr>

   <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>201</td>
      <td>ANTONIA</td>
    </tr>

   <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>230</td>
      <td>ANA - NICOLE </td>
    </tr>

  <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>251</td>
      <td>ERIKA ALMEIDA </td>
    </tr>

  <tr>
      <th scope="row">2090</th>
      <td>COMERCIAL</td>
      <td>243</td>
      <td>LIRIAN OLIVEIRA</td>
    </tr>

  </tbody>


</table>

<div align="center">
 <h3>RAMAL RH - SGI</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO RH -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3010</th>
      <td>SGI</td>
      <td>232</td>
      <td>ARINA - ROGERIO</td>
    </tr>

    <tr>
      <th scope="row">3010</th>
      <td>SGI</td>
      <td>252</td>
      <td>INGRID</td>
    </tr>

   <tr>
      <th scope="row">3010</th>
      <td>RH</td>
      <td>249</td>
      <td>LISANGELA VALENTE</td>
    </tr>

   <tr>
      <th scope="row">3010</th>
      <td>RH</td>
      <td>200</td>
      <td>RECEPÇÃO</td>
    </tr>

  <tr>
      <th scope="row">3010</th>
      <td>RH</td>
      <td>215</td>
      <td>ANA - TATIANE</td>
    </tr>

  <tr>
      <th scope="row">3010</th>
      <td>RH</td>
      <td>217</td>
      <td>ROSANIA VIANA</td>
    </tr>

   <tr>
      <th scope="row">3010</th>
      <td>RH</td>
      <td>245</td>
      <td>HELLEN </td>
    </tr>

  </tbody>


</table>

 <div align="center">
 <h3>RAMAL SESMET</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO SESMET -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3011</th>
      <td>SESMET</td>
      <td>238</td>
      <td>EQUIPE SESMET</td>
    </tr>

  </tbody>
</table>

 <div align="center">
 <h3>RAMAL AMBULATÓRIO</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO AMBULATÓRIO -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3020</th>
      <td>AMBULATÓRIO</td>
      <td>258</td>
      <td>ALCYEDNA MORAES</td>
    </tr>

  </tbody>
</table>

 <div align="center">
 <h3>RAMAL PORTARIA</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO PORTARIA -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3050</th>
      <td>PORTARIA</td>
      <td>228</td>
      <td>POLO NORTE</td>
    </tr>

  </tbody>
</table>

  <div align="center">
 <h3>RAMAL PCP</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO PCP -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3061</th>
      <td>PCP</td>
      <td>250</td>
      <td>FRANCIMARA OLIVEIRA</td>
    </tr>

    <tr>
      <th scope="row">3061</th>
      <td>PCP</td>
      <td>208</td>
      <td>THIAGO GOMES</td>
    </tr>

  </tbody>
</table>

 <div align="center">
 <h3>RAMAL ALMOXARIFADO</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO ALMOXARIFADO -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>222</td>
      <td>CLAUDEMIR SENA</td>
    </tr>

    <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>239</td>
      <td>ALMOX</td>
    </tr>

  <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>259</td>
      <td>EXPEDIÇÃO</td>
    </tr>

   <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>259</td>
      <td>EXPEDIÇÃO</td>
    </tr>

   <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>205</td>
      <td>PR</td>
    </tr>

  <tr>
      <th scope="row">3070</th>
      <td>ALMOXARIFADO</td>
      <td>225</td>
      <td>RECEBIMENTO</td>
    </tr>

  </tbody>
</table>


  <div align="center">
 <h3>RAMAL ADM. MANUT.</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO ADM. MANUT. -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">3082</th>
      <td>ADM. MANUT.</td>
      <td>248</td>
      <td>LUCIANA - LUIZ</td>
    </tr>

  </tbody>
</table>

  <div align="center">
 <h3>RAMAL ADM PROD</h3>
</div>

 <table class="table">
  <thead>
    <tr>.
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO ADM PROD -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4020</th>
      <td>ADM PROD</td>
      <td>229</td>
      <td>KARLA - DANINEL NUNES</td>
    </tr>

  </tbody>
</table>

  <div align="center">
 <h3>RAMAL ENGENHARIA</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO ENGENHARIA -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4021</th>
      <td>ENGENHARIA</td>
      <td>212</td>
      <td>ROSIVANE MUNIZ</td>
    </tr>

  <tr>
      <th scope="row">4021</th>
      <td>ENGENHARIA</td>
      <td>216</td>
      <td>FABRICIO NOBRE</td>
    </tr>

    <tr>
      <th scope="row">4021</th>
      <td>ENGENHARIA</td>
      <td>247</td>
      <td>CARLOS EDUARDO - RODRIGO</td>
    </tr>

  </tbody>
</table>


 <div align="center">
 <h3>RAMAL CQ</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO CQ -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4030</th>
      <td>CQ</td>
      <td>240</td>
      <td>JHONYS PASSOS - INGRID</td>
    </tr>

  <tr>
      <th scope="row">4030</th>
      <td>CQ</td>
      <td>231</td>
      <td>JESSICA LEÃO - JOÃO PAULO</td>
    </tr>

    <tr>
      <th scope="row">4030</th>
      <td>CQ</td>
      <td>211</td>
      <td>KELE BRANCHES</td>
    </tr>

  </tbody>
</table>

 <div align="center">
 <h3>RAMAL USINAGEM</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO USINAGEM -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4060</th>
      <td>USINAGEM</td>
      <td>218</td>
      <td>EDIVAN LOPES</td>
    </tr>

  </tbody>
</table>

 <div align="center">
 <h3>RAMAL MONTAGEM</h3>
</div>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">SETOR</th>
      <th scope="col">RAMAL</th>
      <th scope="col">RESPONSAVEL</th>
    </tr>
  </thead>

     <!-- RAMAL DO MONTAGEM -->

  <tbody class="table-group-divider">
    <tr>
      <th scope="row">4070</th>
      <td>MONTAGEM</td>
      <td>224</td>
      <td>CRISTIANE - LIDERES</td>
    </tr>

  </tbody>
</table>




 <div class="d-grid gap-2 col-6 mx-auto">
     <br>
        <br>
     <div align="center">
     <a href="{% url 'voltar' %}">
  <button  class="btn btn-primary" type="button">VOLTAR</button>
         </a>
     </div>
</div>

 <br>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
